#menu-bar {
  float: left;
  width: 50%;
  position: relative;
    @include tablets {
      width: 100%;
      background: $pixafyBlack;
      float: none;
    }
    #hamburger {
      background: url(../images/hamburger.png)no-repeat 0 0;
      position: absolute;
      top: 50%;
      right: 20px;
      margin-top: -15px;
      height: 30px;
      width: 43px;
    }
}

#main-navigation {
  width: 50%;
  float: left;
    @include tablets {
      width: 100%;
      background: $pixafyBlack;
      float: none;
      display: none;
    }
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      overflow: hidden;
      padding-top: 25px;
        li {
          float: left;
          @include font-size(12px);
          text-transform: uppercase;
          text-align: center;
          background: $pixafyBlack;
          width: 20%;
            @include tablets {
              width: 100%;
              float: none;
              text-align: left;
            }
            a {
              display: block;
              color: $pixafyLightGray;
              line-height: 2;
              text-decoration: none;
                @include tablets {
                  padding: 10px 10px 10px 20px;
                  border-bottom: 1px solid $pixafyLightGray;
                }
                &:hover {
                  background: $pixafyOrange;
                  text-decoration: none;
                }
            }
            &:last-child > a {
              border-bottom: 0;
            }
        }
    }
}